{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/disco/music_list.css' %}">
{% endblock %}

{% block content %}

<div class="container modal-body">
    <h1 class="title">Todas as Músicas Disponíveis</h1>
    
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Música</th>
                <th scope="col">Segundos</th>
                <th scope="col">Álbum</th>
            </tr>
        </thead>
        <tbody>
        {% for music in musicas %}
            <tr>
                <td>{{music.titulo}}</td>   
                <td>{{music.segundos}}</td>

                {% for album in albuns %}

                    {% if music.album_id == album.id %}

                    <td>{{album.titulo}}</td>

                    {% endif %}

                {% endfor %}

            </tr>
        {% endfor %} 
        </tbody>
    </table>

    <!-- nova música -->
    <div id="new-music">
        <a class="btn btn-success" href="{% url 'disco:nova-musica' %}">Adiconar Música</a>
    </div>

</div>
{% endblock %}