{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/disco/music_edit_add.css' %}">
{% endblock %}

{% block content %}

<h1>Adicione uma Nova Música</h1>
<form action="{% url 'disco:nova-musica' %}" method="POST">
    <div class="form-group col-md-6 container">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <div class="button">
        <button type="submit" class="btn btn-success">Adicionar</button>
    </div>
</form>

{% endblock %}

{% block script %}
    <script defer src="{% static 'js/disco/includeClass_add_edit.js' %}"></script>
{% endblock %}
